header {
    text-align: center;
}

#container {
    text-align: center;    
}

#container>div{
    background:gray;
    border: 1px solid red;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}

